#search-recipe {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}
label {
  margin: 10px 10px;
}

input {
  width: 80%;
  height: 30px;
  margin: 10px 10px;
}

button {
  margin-left: 20px;
}
